<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JEE_Mehdi_Simon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- ENV ENTRIES -->
  <env-entry>
  	<env-entry-name>dummy</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>empty</env-entry-value> 
  </env-entry>
  <!-- CONTEXT PARAMS -->
  <context-param>
  	<param-name>apiUrl</param-name>
  	<param-value>http://localhost:8888/JEE_API/api</param-value>
  </context-param>
  <context-param>
  	<param-name>adminMail</param-name>
  	<param-value>iam.admin@gmail.com</param-value>
  </context-param>
  
  <!-- OTHER -->
	<session-config>
		<session-timeout>100</session-timeout>
	</session-config>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Errors.jsp</location>
	</error-page>

	
  <!-- ENVIRONNEMENT ENTRIES -->
  <env-entry> 
    <env-entry-name>apiUrl</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>http://localhost:8888/JEE_api/api</env-entry-value> 
 </env-entry>
  <!-- SERVLETS -->
  <servlet>
  	<servlet-name>AuthenticationServlet</servlet-name>
  	<servlet-class>be.project.servlets.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<servlet-class>be.project.servlets.HomeServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>MachineServlet</servlet-name>
  	<servlet-class>be.project.servlets.MachineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageMachine</servlet-name>
  	<servlet-class>be.project.servlets.ManageMachine</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>CreateMaintenance</servlet-name>
  	<servlet-class>be.project.servlets.CreateMaintenanceServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>ConsultMaintenance</servlet-name>
  	<servlet-class>be.project.servlets.ConsultMaintenanceServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>UpdateMaintenance</servlet-name>
  	<servlet-class>be.project.servlets.UpdateMaintenanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>be.project.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMaintenanceInfosServlet</servlet-name>
  	<servlet-class>be.project.servlets.GetMaintenanceInfosServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>WriteReportServlet</servlet-name>
  	<servlet-class>be.project.servlets.WriteReportServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>MaintenanceDoneServlet</servlet-name>
  	<servlet-class>be.project.servlets.MaintenanceDoneServlet</servlet-class>
  </servlet>
  <!-- MAPPING SERVLET -->
  <servlet-mapping>
  	<servlet-name>AuthenticationServlet</servlet-name>
  	<url-pattern>/connexion</url-pattern>
  	<url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/homepage</url-pattern>
  	<url-pattern>/home</url-pattern>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>MachineServlet</servlet-name>
  	<url-pattern>/machines</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageMachine</servlet-name>
  	<url-pattern>/ManageMachine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateMaintenance</servlet-name>
  	<url-pattern>/CreateMaintenance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultMaintenance</servlet-name>
  	<url-pattern>/ConsultMaintenance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMaintenance</servlet-name>
  	<url-pattern>/UpdateMaintenance</url-pattern>
  </servlet-mapping>
  	<servlet-mapping>
	  <servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMaintenanceInfosServlet</servlet-name>
  	<url-pattern>/maintenanceinfos</url-pattern>
  	<url-pattern>/maintenancedetails</url-pattern>
  	<url-pattern>/maintenance/details</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>MaintenanceDoneServlet</servlet-name>
  	<url-pattern>/maintenancedone</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>WriteReportServlet</servlet-name>
  	<url-pattern>/writereport</url-pattern>
  	<url-pattern>/report</url-pattern>
  </servlet-mapping>
	 
	  <!--FILTERS-->
  
   <filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>be.project.filters.AuthenticationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>WorkerAccessFilter</filter-name>
		<filter-class>be.project.filters.WorkerAccessFilter</filter-class>
	</filter>
		<filter>
		<filter-name>LeaderAccessFilter</filter-name>
		<filter-class>be.project.filters.LeaderAccessFilter</filter-class>
	</filter>
	<filter>
		<filter-name>EmployeeAccessFilter</filter-name>
		<filter-class>be.project.filters.EmployeeAccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-name>GetMaintenanceInfosServlet</servlet-name>
		<servlet-name>MachineServlet</servlet-name>
		<servlet-name>ManageMachine</servlet-name>
		<servlet-name>CreateMaintenance</servlet-name>
		<servlet-name>ConsultMaintenance</servlet-name>
		<servlet-name>UpdateMaintenance</servlet-name>
		<servlet-name>MaintenanceDoneServlet</servlet-name>
		<servlet-name>WriteReportServlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>WorkerAccessFilter</filter-name>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-name>GetMaintenanceInfosServlet</servlet-name>
		<servlet-name>MaintenanceDoneServlet</servlet-name>
		<servlet-name>WriteReportServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>LeaderAccessFilter</filter-name>
		<servlet-name>MachineServlet</servlet-name>
		<servlet-name>ManageMachine</servlet-name>
		<servlet-name>CreateMaintenance</servlet-name>
		<servlet-name>ConsultMaintenance</servlet-name>
		<servlet-name>UpdateMaintenance</servlet-name>
	</filter-mapping>
	<!-- MAPPING A COMPLETER POUR EMPLOYEE -->
</web-app>